@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin-top: 50px;
}

